* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    text-align: center;
}
.big {
    padding: 20px;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    margin-top: 10%;
    text-align: center;
}
#menu1 {
    margin-top: 2%;
    font-size: 20px;
}